USE [master]
GO
/****** Object:  Database [test_db]    Script Date: 22-01-2026 15:04:22 ******/
CREATE DATABASE [test_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'test_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\test_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'test_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\test_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [test_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [test_db]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 22-01-2026 15:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
	[Department] [varchar](50) NULL,
	[Salary] [decimal](10, 2) NULL,
	[HireDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee_BackUp]    Script Date: 22-01-2026 15:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_BackUp](
	[EmployeeID] [int] NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
	[Department] [varchar](50) NULL,
	[Salary] [decimal](10, 2) NULL,
	[HireDate] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IT_Dept_tb]    Script Date: 22-01-2026 15:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IT_Dept_tb](
	[EmployeeID] [int] NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
	[Department] [varchar](50) NULL,
	[Salary] [decimal](10, 2) NULL,
	[HireDate] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[Practice]    Script Date: 22-01-2026 15:04:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Practice]
-- Optional Or Parameter
@Department varchar(50),
@FirstName varchar(50)
AS 
BEGIN

--Query Area
SELECT * FROM Employee WHERE Department = @Department AND FirstName = @FirstName;

END

--Used as a separator
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetemployesDetailsBySalaryAndDepartment]    Script Date: 22-01-2026 15:04:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Chaitanya Harish
-- Create date: 22-01-2026
-- Description:	SampleData
-- =============================================
CREATE PROCEDURE [dbo].[Sp_GetemployesDetailsBySalaryAndDepartment] 
	-- Add the parameters for the stored procedure here
	@department varchar(50),
	@salary decimal (9,2)
	
AS
BEGIN
	SELECT * FROM Employee
	WHERE Department = @department OR Salary = @salary;
END
GO
/****** Object:  StoredProcedure [dbo].[Update_EmployeeSalaryAndDepartment]    Script Date: 22-01-2026 15:04:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Update_EmployeeSalaryAndDepartment]
	-- Add the parameters for the stored procedure here
	@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Employee 
	SET Department = 'HR' , Salary = 65000
	WHERE EmployeeID = @Id;

	SELECT * FROM Employee;
END
GO
USE [master]
GO
